<section role="main" id="main">

    <noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

    <hgroup id="main-title" class="thin">
        <h1>Adding Photo</h1>
    </hgroup>

    <div class="with-padding">

        <%= render 'form' %>
        
    </div>
    
</section>
<%= link_to 'Back', assets_path %>
