<section role="main" id="main">

    <noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

    <hgroup id="main-title" class="thin">
        <h1>Editing Car</h1>
    </hgroup>

    <div class="with-padding">

        <%= render 'form' %>
        
    </div>
    
</section>

<%= link_to 'Show Vehicle', @car %> |
<%= link_to 'Back to Dealer', dealer_path(@car.dealer) %>
